.footer-div
{
    background-color: black;
    padding-top: 3%;
}

.footer-lists
{
    color: white;
}

.footer-lists p
{
    padding-left: 10%;
}

.footer-logo
{
    margin-bottom: 5%;
}

.footer-lists h6
{
    color: red;
    text-transform: uppercase;
}

.second-footer
{
    background-color: red;
}

.second-footer p
{
    color: white;
}