.cover-image
{
    background-image: url("images/cover.jpg");
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    position:relative;
    bottom: -1px;
}

.cover-img
{
    width: 100vw;
    height: auto;
}

.sale-img
{
    margin : 0;
    padding: 0;
}

.sale-img2
{
    background-image: url("images/coupon2.jpg");
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 50vh;
    position:relative;
    bottom: -1px;
}

.landing-page-button
{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.landing-buttons-tray
{
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

.offer-image
{
    width: 100vw;
    height: auto;
}

.admiration-buttons
{
  border-radius: 300px;
  border: 1px solid #031E49;
  background-color: #031E49;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 12px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 90px;
}

.select-categories-btn
{
    margin-left: 45%;
}

.top-selling
{
    text-align: center;
    color: #F02324;
}

.admire-buttons
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 0;
}

.landing-btn-on-click
{
    color: red;
}

.landing-page-red
{
    color:red;
    border-bottom: 2px solid red;
}