.login-greeting
{
    width: 50%;
    margin: 3% 25% 1% 25%;
    text-align: center;
}

.login-div
{
    margin: 2% 25% 1% 38%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 25%;
    padding: 1.5% 1%;
}

.login-input
{
    width: 100%;
    margin-bottom: 6%;
    border: 1.11015px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 5.55076px;
}

.forgot-passwd
{
    margin-left: 15%;
}

.sign-in
{
    border-radius: 10px;
    border: 1px solid #EE0405;
    background-color: #EE0405;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 7%;
}

.new-here
{
    margin-left: 45%;
}