.original-price
{
    text-decoration: line-through;
    font-size: small;
    margin-left: 5%;
}

.discnt-price
{
    color:#EE0405;
    font-weight: bold;
}

.product-div
{
    display: flex;
    justify-content: space-evenly;
}

.category-div
{
    display: flex;
    justify-content: space-evenly;
}

.product-card
{
    width: 18rem;
    /* margin-left: 3.5%; */
    margin-bottom: 2%;
    margin-top: 2%;
    background: #FFFDFE;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.04);
    border-radius: 9px;
}

.product-card img:hover 
{
    opacity: 0.5;
    background-color:#000;
}
  
.like-btn
{
    margin-left: 70%;
}

.sold-qty
{
    margin-left: 40%;
    height: 26px;
    width: 31px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.product-name
{
    margin-top: 5%;
    font-weight: bold;
}

.star-icon
{
    color: #F2994A;
}

.product-body
{
    margin-top: -25px;
}

.hover-btns
{   
    background-color:black;
}

.product-btns-tray
{
    /* opacity: 0; */
}

.product-btns-tray:hover
{
    opacity: 1;
}

.view-cart-btns
{
    position:absolute;
    bottom: 90px;
    right: 25%;
    color:#FFF;
}

.parent-view-cart-btns
{
    display:inline-block;
    position:relative;
    width: 50%;; 
    height: 50%;
}